@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@400;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --color-primary: #4D41C0;
   --white-letter: #fff;
}


h1 {
   font-family: 'Roboto Slab', serif;
   font-weight: 600;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

li {
   list-style: none;
   margin-left: 13px;
}

nav a, nav a:hover {
   text-decoration: none;
   font-size: 20px;
   color: var(--white-letter);
}

header {
   background-color: var(--color-primary);
   color: var(--white-letter);
   display: flex;
   align-items: center;
   height: 4.5rem;
   position: fixed;
   left: 0;
   right: 0;
}