@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins&family=Roboto+Slab:wght@400;700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --color-primary: #4D41C0;
   --white-letter: #fff;
}


body {
   background-image: url(../img/james-harrison-vpOeXr5wmR4-unsplash.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

p {
   font-size: 19px;
   font-weight: 500;
   font-family: 'Open Sans', sans-serif;
   color: black;
   line-height: 1.5;
}

.nav-menu h1 {
   font-family: 'Roboto Slab', serif;
   font-weight: 600;
}

.nav-menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-menu ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
}

li {
   list-style: none;
   margin-left: 15px;
}

a, a:hover {
   text-decoration: none;
   font-size: 20px;
   color: var(--white-letter);
}

header {
   background-color: var(--color-primary);
   color: var(--white-letter);
   display: flex;
   align-items: center;
   height: 4.5rem;
   position: fixed;
   left: 0;
   right: 0;
}

.categorias-cursos {
   padding: 110px 20px 0 20px;
}

.categoria-description h2 {
   color: black;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
}

.categoria-unica {
   background-color: rgba(255, 255, 255, 0.459);
   backdrop-filter: blur(8px);
   border-radius: 5px;
   border: 1px solid rgba(255, 255, 255, 0.455);
}

.internal-content {
   padding: 25px 50px;
}

.cards-courses {
   width: 350px;
   margin: 25px 0 10px 0;
   background-color: rgba(0, 0, 0, 0.24);
   box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.568);
   border-radius: 5px;
   min-height: 440px;
}

.cards-courses, .cards-courses-description-bottom {
   display: flex;
   align-items: center;
   flex-direction: column;
}

.cards-courses img {
   width: 100%;
   border-radius: 5px 5px 0 0;
   margin-bottom: 5px;
}

.cards-courses-description h1 {
   color: black;
   text-align: center;
}

.cards-courses-description-bottom p {
   color: black;
   font-size: 17px;
   font-weight: 500;
}

.cards-courses-description-bottom img {
   width: 22px;
}

.cards-courses-description-bottom h4 {
   color: #ffbb3a;
   font-size: 22px;
}

.cards-courses-description h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 20px;
   padding: 5px;
}

.courses-btn {
   color: var(--white-letter);
   background-color: var(--color-primary);
   width: 170px;
   height: 50px;
   font-size: 20px;
   font-weight: 500;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
}
