@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto+Slab&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

:root {
   --color-primary: #4D41C0;
   --white-letter: #fff;
}

h1 {
   font-family: 'Roboto Slab', serif;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav a {
   text-decoration: none;
   color: var(--white-letter);
}

header {
   background-color: var(--color-primary);
}